---
import Layout from "../../layouts/Main.astro";
---

<Layout>
  <main class="page">
    <div class="section">
      <h1 class="heading-primary">Draft Created</h1>
      <p class="typography-primary">Hydi will prefill application answers based on your inputs. Connect Google Drive for document storage and e-sign workflow.</p>
      <div class="list-actions">
        <a class="button-primary" href="/funding">Back to Funding</a>
        <a class="button-secondary" href="/dashhub">Go to DashHub</a>
      </div>
    </div>
  </main>
</Layout>
